@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Questrial&display=swap");

//Fuente
$monset: "Montserrat", sans-serif;
$questrial: "Questrial", sans-serif;

//Background
$background: #fff;
$banner: #fc758c;

//Text
$icono-menu: rgba(0, 0, 0, 0.685);
$white: #fff;
$black: #000;
$red: red;
$black-trans: rgba(0, 0, 0, 0.829);
$subtitle-banner: rgba(255, 255, 255, 0.685);

$text-btn: #fc758ba6;
