.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.grid__view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
svg {
  margin: 1.2rem;
  cursor: pointer;
}

.grid__menu {
  list-style: none;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
  display: flex;
  transition: 0.3s ease-in-out;
}
.grid__menu-item {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.11rem;
  color: #7b7b7b;
  cursor: pointer;
}
.grid__menu-item:hover {
  background-color: $banner;
  padding: 0.4rem 1.2rem;
  color: white;
}
.grid__menu-item:last-child {
  margin-right: 0;
}
.grid__menu-item:first-child {
  margin-left: 0;
}
.grid__menu-item--active {
  background-color: $banner;
  padding: 0.4rem 1rem;
  color: white;
}

.item2:first-child {
  grid-row: span 3;
}
.grid__container {
  max-width: 100%;
  justify-content: center;
  columns: 1;
  gap: 0.2rem;
  transition: 0.3s ease-in-out;
}
.grid__box {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  break-inside: avoid;
  transition: 0.3s ease-in-out;
}

.grid__img {
  width: 100%;
  height: auto;
  height: 100%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.grid__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__btn {
  width: 113px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  margin-top: 4rem;
  font-family: "Montserrat";
  font-size: 0.8rem;
  letter-spacing: 0.11rem;
  background-color: $banner;
}
.grid__button:hover {
  background-color: #e2324f;
}
@media (min-width: 48em) {
  .grid__container {
    columns: 2;
  }
}
@media (min-width: 62em) {
  .grid__container {
    columns: 3;
    max-width: 70%;
  }
}

.grid-main {
  width: 11.5em;
  height: 14rem;
  background-color: $banner;
  margin-bottom: 0.5rem;
  color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.2rem;
  @media (min-width: 30em) {
    width: 20em;
    height: 20em;
  }
  @media (min-width: 48em) {
    width: 16em;
    height: 15em;
  }
  @media (min-width: 62em) {
    font-size: 1rem;
    width: 15em;
    height: 20em;
  }
  @media (min-width: 80em) {
    font-size: 1rem;
    width: 22em;
    height: 22em;
  }
}

.line {
  width: 82%;
  color: white;
  margin: 1rem 0;
}
