.section__iconos {
  height: 100%;
}

.menu-second {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-second__icon-1 {
  display: grid;
  grid-template-columns: 1rem 1rem;
  justify-content: center;
  margin: 0;
}

.menu-second__punto {
  background-color: $banner;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0.1em;
}

.barras {
  margin-left: 1rem;
}
.menu-barras {
  background-color: $banner;
  height: 0.5rem;
  width: 1.5rem;
  margin: 0.1em;
}

.menu--second {
  width: 100%;
  background-color: $white;
  text-align: center;
  background-color: 0;
  height: 0;
}

.size {
  font-size: 1.3rem;
}

.second-nav {
  margin-bottom: 10rem;
}
